<div class="home-intro"
     data-controller="home-intro"
     data-home-intro-steps-value='<%= steps.to_json %>'
     data-home-intro-sprites-value='<%= sprite_urls.to_json %>'
     data-home-intro-dismiss-url-value="<%= helpers.my_dismissals_path %>"
     data-home-intro-csrf-value="<%= form_authenticity_token %>">

  <div class="home-intro__backdrop" data-home-intro-target="backdrop" aria-hidden="true"></div>
  <div class="home-intro__highlight" data-home-intro-target="highlight" aria-hidden="true"></div>

  <div class="home-intro__panel" data-home-intro-target="panel">
    <div class="home-intro__sprite" data-home-intro-target="sprite">
      <%= image_tag "orpheus_sprites/1.png", alt: "Astronaut Orpheus", data: { home_intro_target: "spriteImg" } %>
    </div>

    <div class="home-intro__body">
      <div class="home-intro__name">Astronaut Orpheus</div>
      <p class="home-intro__text" data-home-intro-target="text"></p>
      <p class="home-intro__hint">Click anywhere to continue&nbsp;<span aria-hidden="true">&rarr;</span></p>
    </div>
  </div>
</div>
